@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300,100);

/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

html,body{
	font-family: 'Roboto Slab', serif;
	padding: 0;
	margin: 0;
}

.column, .columns{
	display: inline-block;
	float: left;
	padding: 20px;
	position: relative;
	box-sizing: border-box;
}

.one{ width: 25%; }
.two{ width: 50%; }
.three{ width: 75%; }
.four{ width: 100%; }

.block{

}

.center{
	width: 960px;
	float: left;
	margin: 0 50%;
	transform: translateX(-50%);
}

#main{

}

#content-wrapper{
	float: left;
	width: 100%;
}

.section-heading{
	background: #f9f9f9;
	width: 100%;
	height: 80px;
	text-align: center;
}

.section-heading h3{
	padding: 15px 40px;
	border: 1px solid #ccc;
	border-radius: 2px;
	width: 200px;
	display: inline-block;
	margin-top: 15px;
	text-transform: uppercase;
}

#navigation{
	width: 100%;
	height: 80px;
	background: #fff;
	
	top: 0;
	padding: 0 20px;
	box-sizing: border-box;
	box-shadow: 0px 2px 3px 3px rgba(0,0,0,0.9);
}

#navigation ul{
	list-style: none;
}

#navigation ul li{
	display: block;
	height: 40px;
	line-height: 40px;
	float: left;
	width: 140px;
	text-align: center;
	margin-right: 40px;
	border: 0px solid #ccc;
	border-radius: 2px;
	margin-top: 20px;
}

#navigation ul li.current-page,
#navigation ul li:hover{
	border-bottom: 5px solid #336E7B;
}


#navigation ul li a{
	text-decoration: none;
	text-transform: uppercase;
	color: #336E7B;
}
#navigation ul li:first-child{
	border: none;
}

#navigation img{
	height: 40px;
}

.breadcrumb{
	background: blue;
	position: relative;
	height: 20px;
	width: 100%;
	display: none;
}

.breadcrumb ul{
	list-style: none;
}

.breadcrumb ul li{
	display: inline;
}

.breadcrumb ul li:after{
	content: " > ";
}

.breadcrumb ul li:last-child:after{
	content: "";
}

#header{
	position: relative;
	background: #ccc url("../images/headerBg.jpg") repeat;
	background-position: center 500px;
	text-transform: uppercase;
	font-size: 3em;
	font-weight: 400;
	text-align: center;
	padding: 50px 0;
	color: #fff;
}

#home #header{
	position: relative;
	height: 400px;
	background: #ccc url("../images/shoes.jpg") no-repeat center center;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#home #header #overlay{
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(255,255,255, 0.6);
	z-index: 5;
	top: 0;
}

#home #header img{
	position: relative;
	z-index: 6;
	width: 350px;
	top: 50%;
	transform: translateY(-50%);
}

#filters{
	width: 100%;
}

#filters ul{
	display: inline-block;
	margin: 0 auto;
	width: 100%;
	text-align: center;
}

#filters li{
	display: inline-block;
	width: 120px;
	border-radius: 1px;
	padding: 8px 0;
	text-align: center;
	border: 1px solid #ccc;
	position: relative;
}

#filters li:hover{
	background: #ccc;
}

#filters li.current{
	background: #336E7B;
	color: #fff;
	border: none;
}

#filters ul li a{
	text-decoration: none;
	color: #222;
}

#filters li.current a{
	color: #fff;
}

.item{
	overflow: hidden;
	margin-bottom: 20px;
	padding: 15px;
	position: relative;
	float: left;

}

.item .title{
	font-weight: 300;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 8px 0;
	text-transform: uppercase;
	text-align: center;
}

.item .description{
	font-size: 0.9em;
	line-height: 20px;
	text-align: center;
	margin: 15px 0;
}

.item .tags{
	padding: 15px 0;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

.item .tags .tag{
	border: 1px solid #ccc;
	background: #f1f1f1;
	margin-right: 5px;
	border-radius: 1px;
	padding: 3px 8px;
	font-size: 0.8em;
}

.item .actions{
	margin-top: 20px;
}

.item .button{
	border: 1px solid #ccc;
	border-radius: 2px;
	padding: 5px 20px;
	display: inline-block;
	position: relative;
	font-size: 0.8em;
}

.item .actions .more-info{
	float: left;
}

.item .actions .add-to-cart{
	float: right;
}


.item .price{
	position: absolute;
	top: 15px;
	margin-right: 15px;
	padding: 9px 18px;
	border: 0px solid #ccc;
	background: #fff;
	right: 0;
	z-index: 10;
	background: #F9BF3B;
	border-left: 2px solid #F5AB35;
	border-bottom: 2px solid #F5AB35;
}



.item .image-container{
	width: 100%;
	height: 250px;
	overflow: hidden;
	border: 1px solid #ccc;
	border-radius: 1px;
	padding: 10px;
	margin-bottom: 10px;
	box-sizing: border-box;
}

.item .image-container img{
	width: 100%;
}

.item img{

}

#full-catalogue-link{
	text-align: center;
	margin-bottom: 50px;
}

#full-catalogue-link a{
	text-decoration: none;
	padding: 10px 20px;
	border: 1px solid #ccc;
	color: #222;
	border-bottom: 4px solid #ccc;
}

#full-catalogue-link a:hover{
	opacity: 0.8;
}

#sign-up-banner{
	background: #f1f1f1;
	padding: 50px 0;
	text-align: center;
}

#sign-up-banner h3{
	text-transform:  uppercase;
	font-size: 1.3em;
	margin-bottom: 15px;
}

#sign-up-banner input[type="text"]{
	display: inline-block;
	height: 30px;
	width: 400px;
	padding: 0 20px;
}

#sign-up-banner input[type="submit"]{
	display: inline-block;
	height: 35px;
	width: 100px;
}

#footer-top{
	height: 400px;
	background: #222a2d;
}

#footer-top img{
	width: 200px;
	box-sizing: border-box;
	margin-bottom: 20px;
}

#footer-top .copyright{
	color: #f1f1f1;
	line-height: 20px;
	font-size: 0.8em;
}

#footer-top #sitemap h4{
	font-size: 1.5em;
	color: #f1f1f1;
	text-transform: uppercase;
	margin-bottom: 20px;
}

#footer-top #sitemap #sitemap-list li{
	height: 40px;
	border-bottom: 1px solid rgba(255,255,255,0.2);
	margin-bottom: 15px;
}

#footer-top #sitemap #sitemap-list li a{
	text-decoration: none;
	color: #f1f1f1;
}

#footer-top #sitemap #sitemap-list li a:hover{
	font-style: italic;
}

#footer-bottom{
	background: #171f21;
	text-align: center;
}

#footer-bottom p{
	color: #f1f1f1;
}

#footer-bottom #authors{
	color: #3f4344;
}